include ./header.pug 
section#portfolio.container-fluid.mt-5.bg-light
  .row.justify-content-center
    .col-md-6.mt-3
      h1.text-center.font-weight-bold.mt-5 GALLERY
      p.text-center.text-dark.h6
        | Etiam at varius tellus. Proin vitae dui dolor. Praesent blandit
        | vitae arcu in congue. Nulla rhoncus nisl et dolor eleifend
  .row.mt-5
    for d in data
        .col-md-3.d-block.mx-auto
          .card.mt-3.mb-5
            img.card-img-top(src='./images/'+d.img alt='...')
            .card-body
              h5.btn.text-dark.fw-bold(style='background-color:lightgray ;') #{d.name}
              p.text-dark #{d.desc}
              a.fs-3.text-dark(href='#')
                i.bi.bi-arrow-right

include ./footer.pug 